
section{
    width:85%;
    margin:auto;
}

*{
    font-family: 'Poppins';

}
/* navbar starts */

.navbar-container{
    display:flex;
    justify-content: space-between;
}
img[src="/assets/Logo.png"]{
    height:30px;
    padding:15px 5px;
}

.list{
    display: flex;
    justify-content: space-between;
}
.list-item{
    padding:5px 10px;
    list-style: none;
    font-weight: 700;
}
li:nth-child(1){
   border-bottom:2px solid;
}

.button-group{
    display:flex;
    padding:15px;
}
.search-icon svg{
    height:18px;
    padding:2px;
}
.nav-button{
    background-color: transparent;
    border-radius: 10px;
    padding:2px 25px;
}
/* hero section starts */

section .hero-container{
    display:flex;

}

img[src="/assets/squares.png"]{
    position:relative;
    width:250px;
    top:30vh;
    left:40%;
}

img[src="/assets/Image.png"]{
    /* border:solid red; */
width:300px;
position:relative;
left:-350px;
top:10vh;
}

/* ------------hero right side part ----------------------*/

.star{
    position:relative;
    left:70%;
    top:18vh;
}
.star img{
height:40px;
}

.globe{
    top:8vh;
left:30%;
position:relative;
}
.globe img{
    height:50px;
}

.hero-container-right{
    top:20vh;
    position:relative;
    text-align: center;
line-height: 80px;

}
.hero-heading{
    font-size:3rem;
    text-align: start;
}

.hero-description{
font-size:small;
line-height: 20px;

}

/* buttons email and join now starts */



.button-email{

background-color: transparent;
border-radius: 10px;
padding:1px 25px;
}

.button-join{
    background-color: black;
    color:white;
    border-radius: 10px;
}

.contact-heading{
font-weight: 400;
line-height: 15px;

}

.icons img{
    padding:5px;
    width:25px;

}

/* -------------media queries------------- */

@media screen and (max-width:800px){
    img[src="/assets/squares.png"]{
    width:100px;
    /* display: none; */
    }

    img[src="/assets/Image.png"]{
      width:150px;  
      left:0%;
      top:54%;
      align-self: flex-start;
    } 


    .hero-container-right{
        display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
.list{
    display: none;
}



}